{% extends "frontend/base.html" %} 
{% load static i18n %} 
{% block content %}
<!-- Start Main Banner Area -->
<div class="main-banner-area">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-6 main-banner-area-first-col"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-once="true"
      >
        <div class="main-banner-content">
          <h4><span>Simple. Quick. Secure.</span></h4>
          <h1>Transfer Money Across World In Real Time</h1>
          <p>
            An international account to send money to over 60 countries around
            the world, up to 7x cheaper the bank.
            <a href="about-us.html">Learn more</a>
          </p>

          <div class="banner-btn">
            <a href="contact.html" class="default-btn"><h3>Send Now</h3></a>
          </div>

          <ul class="trust-content">
            <li>
              <img
                src="{% static 'frontend/images/main-banner/line-graph.png' %}"
                alt="image"
              />
              <span>Over 10 Million Customers</span>
            </li>
            <li>
              <img
                src="{% static 'frontend/images/main-banner/diamond.png' %}"
                alt="image"
              />
              <span>Fast And Hassle-Free</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-md-6 text-md-end main-banner-area-second-col">
       <img
            src="{% static 'frontend/images/features/features-1.png' %}"
            alt="image"
          />
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner Area -->

<!-- Start Getting Started Area -->
<div class="getting-started-area pt-100 pb-75">
  <div class="container">
    <div class="section-title">
      <span>Getting Started</span>
      <h2>Get Set Up And Start Spending With Your Card In Minutes</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div
          class="single-getting-started-card"
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <div class="getting-image">
            <img
              src="{% static 'frontend/images/getting-started/getting-1.png' %}"
              alt="image"
            />
          </div>
          <h3>1. Create Account</h3>
          <p>
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div
          class="single-getting-started-card"
          data-aos="fade-up"
          data-aos-delay="60"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <div class="getting-image">
            <img
              src="{% static 'frontend/images/getting-started/getting-2.png' %}"
              alt="image"
            />
          </div>
          <h3>2. Verify Identity</h3>
          <p>
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div
          class="single-getting-started-card"
          data-aos="fade-up"
          data-aos-delay="70"
          data-aos-duration="700"
          data-aos-once="true"
        >
          <div class="getting-image">
            <img
              src="{% static 'frontend/images/getting-started/getting-3.png' %}"
              alt="image"
            />
          </div>
          <h3>3. Tap Your Account</h3>
          <p>
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div
          class="single-getting-started-card"
          data-aos="fade-up"
          data-aos-delay="80"
          data-aos-duration="800"
          data-aos-once="true"
        >
          <div class="getting-image">
            <img
              src="{% static 'frontend/images/getting-started/getting-4.png' %}"
              alt="image"
            />
          </div>
          <h3>4. Confirm & Send</h3>
          <p>
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Getting Started Area -->

<!-- Start Why Choose Us Area -->
<div class="why-choose-us-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div
          class="why-choose-us-content"
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <span>Why Choose Us</span>
          <h3>
            Moving And Living Abroad Just Got Simpler Get Paid Like A Local
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
            nisl bibendum vitae consequat. Nisl ut sed accumsan congue id tempus
            fringilla diam arcu. Venenatis nulla senectus risus sagittis turpis
            felis egestas.
          </p>

          <ul class="choose-us-list">
            <li>
              <i class="ri-checkbox-circle-line"></i>
              Send money cheaper and easier than old-school banks.
            </li>
            <li>
              <i class="ri-checkbox-circle-line"></i>
              Spend abroad without the hidden fees.
            </li>
            <li>
              <i class="ri-checkbox-circle-line"></i>
              Move money between countries for salary & more.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="why-choose-us-image">
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6">
              <div
                class="choose-image"
                data-aos="fade-down"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/why-choose-us/finance-1.png' %}"
                  alt="image"
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div
                class="choose-image mb-25"
                data-aos="fade-left"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/why-choose-us/naira-1.jpg' %}"
                  alt="image"
                />
              </div>
              <div
                class="choose-image"
                data-aos="fade-up"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/why-choose-us/investing-2.jpg' %}"
                  alt="image"
                />
              </div>
            </div>
          </div>
          <div class="choose-shape" data-speed="0.08" data-revert="true">
            <img
              src="{% static 'frontend/images/why-choose-us/shape-1.png' %}"
              alt="image"
            />
          </div>
          <div class="choose-shape-2" data-speed="0.08" data-revert="true">
            <img
              src="{% static 'frontend/images/why-choose-us/shape-2.png' %}"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Area -->

<!-- Start Security Area -->
<div class="security-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="security-image">
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6">
              <div
                class="security-wrap"
                data-aos="fade-down"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/security/happy-2.png' %}"
                  alt="image"
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div
                class="security-wrap mb-25"
                data-aos="fade-left"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/security/basket.png' %}"
                  alt="image"
                />
              </div>
              <div
                class="security-wrap"
                data-aos="fade-up"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-once="true"
              >
                <img
                  src="{% static 'frontend/images/security/mm.png' %}"
                  alt="image"
                />
              </div>
            </div>
          </div>

          <div class="security-shape" data-speed="0.08" data-revert="true">
            <img
              src="{% static 'frontend/images/security/shape-1.png' %}"
              alt="image"
            />
          </div>
          <div class="security-shape-2" data-speed="0.08" data-revert="true">
            <img
              src="{% static 'frontend/images/security/shape-2.png' %}"
              alt="image"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div
          class="security-content"
          data-aos="fade-left"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <span>Security</span>
          <h3>Take The Stress Out Of Managing Property And Money</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
            nisl bibendum vitae consequat. Nisl ut sed accumsan congue id tempus
            fringilla diam arcu. Venenatis nulla senectus risus sagittis turpis
            felis egestas.
          </p>

          <div class="security-inner-box">
            <div class="icon">
              <i class="flaticon-shield"></i>
            </div>
            <h4>Pay Online Securely With Instant Notifications</h4>
            <p>
              Adipiscing eliId neque mi, diam nim etus arcu porta viverra
              pretium auctor ut nam sed.
            </p>
          </div>
          <div class="security-inner-box">
            <div class="icon">
              <i class="flaticon-secure-shield"></i>
            </div>
            <h4>Convert Your Money In Seconds</h4>
            <p>
              Adipiscing eliId neque mi, diam nim etus arcu porta viverra
              pretium auctor ut nam sed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Security Area -->

<!-- Start Features Area 
<div class="features-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">
        <div
          class="features-content"
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <span>Our Features</span>
          <h3>The Reliable, Cheap & Fastest Way To Send Money Abroad</h3>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6">
            <div
              class="single-features-card"
              data-aos="fade-up"
              data-aos-delay="50"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="icon-image">
                <img
                  src="{% static 'frontend/images/features/icon-1.png' %}"
                  alt="image"
                />
              </div>
              <div class="content">
                <h3>Faster And Cheaper</h3>

                <ul class="list">
                  <li>
                    <i class="ri-checkbox-circle-line"></i> Lorem neque,
                    diam nim etus porta viverra. pretium auctor ut nam
                    sed.
                  </li>
                  <li>
                    <i class="ri-checkbox-circle-line"></i> Adipiscing
                    eliId neque, diam nim etus porta viverra. pretium
                    auctor nam sed.
                  </li>
                  <li>
                    <i class="ri-checkbox-circle-line"></i> EliId neque,
                    diam nim etus porta viverra. pretium auctor ut nam
                    sed.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div
              class="single-features-card"
              data-aos="fade-down"
              data-aos-delay="50"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="icon-image">
                <img
                  src="{% static 'frontend/images/features/icon-2.png' %}"
                  alt="image"
                />
              </div>
              <div class="content">
                <h3>Trusted & Secure</h3>

                <ul class="list">
                  <li>
                    <i class="ri-checkbox-circle-line"></i> Lorem neque,
                    diam nim etus porta viverra. pretium auctor ut nam
                    sed.
                  </li>
                  <li>
                    <i class="ri-checkbox-circle-line"></i> Adipiscing
                    eliId neque, diam nim etus porta viverra. pretium
                    auctor nam sed.
                  </li>
                  <li>
                    <i class="ri-checkbox-circle-line"></i> EliId neque,
                    diam nim etus porta viverra. pretium auctor ut nam
                    sed.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div
          class="features-vector-image"
          data-aos="fade-left"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <img
            src="{% static 'frontend/images/features/features-1.png' %}"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
< End Features Area -->

<!-- Start Review Area 
<div class="review-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Our Review</span>
      <h2>More Than 4,405,28 Happy Customers Trust Our Services</h2>
    </div>

    <div class="review-slides owl-carousel owl-theme">
      <div
        class="single-review-box"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-once="true"
      >
        <ul class="review-rating">
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
        </ul>
        <p>
          Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut
          odio quam in lorem nam felis sed. Eleifend euismod vitae
          parturient libero. Magna in parturient congue aliquam egestas.
        </p>
        <div class="reviewquote-image">
          <img
            src="{% static 'frontend/images/quote-icon.png' %}"
            alt="image"
          />
        </div>
        <div class="review-info">
          <h3>Thomoson Piterson</h3>
          <span>Endemycon Leader</span>
        </div>
      </div>

      <div
        class="single-review-box"
        data-aos="fade-up"
        data-aos-delay="60"
        data-aos-duration="600"
        data-aos-once="true"
      >
        <ul class="review-rating">
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
        </ul>
        <p>
          Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut
          odio quam in lorem nam felis sed. Eleifend euismod vitae
          parturient libero. Magna in parturient congue aliquam egestas.
        </p>
        <div class="reviewquote-image">
          <img
            src="{% static 'frontend/images/quote-icon.png' %}"
            alt="image"
          />
        </div>
        <div class="review-info">
          <h3>Maxwel Warner</h3>
          <span>Endemycon Leader</span>
        </div>
      </div>

      <div
        class="single-review-box"
        data-aos="fade-up"
        data-aos-delay="70"
        data-aos-duration="700"
        data-aos-once="true"
      >
        <ul class="review-rating">
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
          <li><i class="ri-star-line"></i></li>
        </ul>
        <p>
          Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut
          odio quam in lorem nam felis sed. Eleifend euismod vitae
          parturient libero. Magna in parturient congue aliquam egestas.
        </p>
        <div class="reviewquote-image">
          <img
            src="{% static 'frontend/images/quote-icon.png' %}"
            alt="image"
          />
        </div>
        <div class="review-info">
          <h3>John Terry</h3>
          <span>Endemycon Leader</span>
        </div>
      </div>
    </div>

    <div class="review-optional-content">
      <p>
        But don’t just take our word for it - check out what our customers
        have to say about their experience with us: <b>Excellent</b>
        <span>Based on 25,454 reviews</span>
      </p>
    </div>
  </div>
</div>
< End Review Area -->

<!-- Start FAQ Area -->
<div class="faq-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div
          class="faq-image"
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <img src="{% static 'frontend/images/faq.png' %}" alt="image" />
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div
          class="faq-item"
          data-aos="fade-left"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <div class="faq-content">
            <span>Frequently Ask Questions</span>
            <h3>
              Let’s Answer Some Of Your Questions Or Frequently Asked
              Questions
            </h3>
          </div>

          <div class="faq-accordion">
            <div class="accordion" id="FaqAccordion">
              <div class="accordion-item">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  What Is A Multi-Currency Account And How Does It Work?
                </button>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#FaqAccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Est nibh felis tortor viverra pulvinar nibh
                      tincidunt pellentesque dolor. Sem lectus magna metus
                      sit felis, ipsum, et. Auctor tellus id nunc nibh
                      felis aliquam.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  What Happened To The Borderless Account?
                </button>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#FaqAccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Est nibh felis tortor viverra pulvinar nibh
                      tincidunt pellentesque dolor. Sem lectus magna metus
                      sit felis, ipsum, et. Auctor tellus id nunc nibh
                      felis aliquam.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Can I Hold Multiple Currencies In A Snuff Account?
                </button>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#FaqAccordion"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Est nibh felis tortor viverra pulvinar nibh
                      tincidunt pellentesque dolor. Sem lectus magna metus
                      sit felis, ipsum, et. Auctor tellus id nunc nibh
                      felis aliquam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End FAQ Area -->

{% endblock %}
{% block extra_js %}
  <script>
    if($(window).innerWidth() >= 768){
      $(".main-banner-area-second-col").height($(".main-banner-area-first-col").height())
    }
    $(".main-banner-area-second-col")
    // $(".main-banner-area-second-col").css({"background":"red"})
    // console.log($(".main-banner-area-second-col").height())
    // console.log($(".main-banner-area-first-col").height())    
  </script>
{% endblock %}